#about {
  background: $SECTION_BG;
  display: flex;
  flex-direction: column;
  // background-image: url("/assets/starry.svg");
  .container {
    @include basic-container();
    max-width: unset;
    margin-top: 0;

    > p {
      color: $SECTION_TEXT;
      background: $SECTION_BG;
    }
    p {
      a {
        @include text_link();
      }
    }
    blockquote {
      p {
        color: $SECTION_BG;
        a {
          color: $SECTION_DARK;
          &:hover {
            color: $SECTION_BG;
          }
        }
      }
    }
  }
  section:nth-child(2) {
    @include basic-container();
    position: relative;

    p:nth-of-type(2) {
      @include header($SECTION_DEFAULT, $HEADER_DARK);
      @include space(margin, 2);
      @include space(padding, 2);
      background: $SECTION_PRIMARY;

      font-size: var(--font-size-h4);
      box-shadow: 4px 6px $SECTION_SECONDARY;
      text-shadow: unset;
      width: 100%;
      align-self: center;
      text-align: center;
    }

    ul {
      @include squares("false", "true");

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 1rem 0 2rem;
      padding: 0;
      list-style: none;

      li {
        margin: 0.25em;
        padding: 0.25em 0.5em;
        background-color: var(--color-light);
      }
    }
  }
  @media (min-width: $BREAKPOINT_MD) {
    .container,
    section:nth-child(2) {
      > *:not(h2) {
        max-width: 50%;
      }

      > p:nth-of-type(1) {
        position: relative;
        &::before {
          content: "";
          background-image: url("/assets/sputnik.svg");
          width: 5rem;
          height: 5rem;
          position: absolute;
          left: -2rem;
          transform: translate(-100%, -33%);
        }
      }
    }
  }
}
