$BANNER_BG: $ABOUT_PRIMARY;
$SECTION_BG: #27162d;
$COLOR_TEXT: #7c75ff;

$COLOR_H2: #fcfcfc;

@mixin about_header() {
  font-family: var(--font-family-heading);

  color: $COLOR_H2;
  background: $BANNER_BG;
  text-shadow: 4px 6px $color-bg-darker-1;
}

#about {
  background: $SECTION_BG;
  display: flex;
  flex-direction: column;

  .container {
    max-width: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    h2 {
      @include space(padding, 10);
      @include space(margin-bottom, 10);
      @include about-header();
      width: 100%;
    }
    > *:not(h2) {
      max-width: 80%;
    }
    > p {
      color: $COLOR_TEXT;
    }
    p {
      a {
        @include text_link();
      }
    }
    blockquote {
      p {
        color: $SECTION_BG;
        a {
          color: var(--color-secondary);
          &:hover {
            color: $SECTION_BG;
          }
        }
      }
    }
  }
  section:nth-child(2) {
    position: relative;

    p:nth-of-type(2) {
      @include about-header();
      @include space(margin, 2);
      @include space(padding, 2);
      font-size: var(--font-size-h4);
      box-shadow: 4px 6px $ABOUT_SECONDARY;
      text-shadow: unset;
      width: 100%;
      align-self: center;
      text-align: center;
    }

    ul {
      @include squares("false", "true");

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 1rem 0 2rem;
      padding: 0;
      list-style: none;

      li {
        margin: 0.25em;
        padding: 0.25em 0.5em;
        background-color: var(--color-light);
      }
    }
  }
  @media (min-width: $BREAKPOINT_MD) {
    .container {
      > *:not(h2) {
        max-width: 50%;
      }
    }
  }
}
