#files {
  display: grid;
  place-content: center;
  margin: 5vh auto;
  text-align: center;

  h3 {
    height: 0;
    opacity: 0;
  }

  .container {
    padding: 5vmin;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    a:not(.link-codepen) {
      &:not(:last-child) {
        margin: 0.5rem;
      }
    }

    a:first-of-type {
      @include solid-link(
        $SECTION_DEFAULT,
        $SECTION_DARK,
        $SECTION_SECONDARY,
        $SECTION_DARK,
        $SECTION_SECONDARY
      );
      @include font-ry();
    }

    a:nth-of-type(2) {
      @include solid-link(
        $SECTION_DEFAULT,
        $SECTION_PRIMARY,
        $SECTION_PRIMARY,
        $SECTION_PRIMARY,
        $SECTION_TEXT
      );
      @include font-ry();
      white-space: nowrap;
    }

    .link-codepen {
      @include text-link($BG_DEFAULT, $BG_GREEN);
      @include font-ry();
    }
  }
  @media (min-width: $BREAKPOINT_MD) {
    .container {
      flex-direction: row;
      justify-content: flex-end;
      .link-codepen {
        width: 100%;
      }
    }
  }
}
