@font-face {
  font-family: "Propaganda";
  src: url("../fonts/propaganda.ttf") format("truetype");
}

@font-face {
  font-family: "Kremlin";
  src: url("../fonts/kremlin.ttf") format("truetype");
}

@font-face {
  font-family: "Kyrilla";
  src: url("../fonts/kyrilla.ttf") format("truetype");
}

@font-face {
  font-family: "RealYoung";
  src: url("../fonts/realyoung.ttf") format("truetype");
}
@font-face {
  font-family: "College";
  src: url("../fonts/college.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
}
