$FONT_ROOT: "https://candicecz.github.io/stylestage-sass/public/fonts/";

@font-face {
  font-family: "Propaganda";
  src: url($FONT_ROOT + "propaganda.ttf") format("truetype");
}

@font-face {
  font-family: "Kremlin";
  src: url($FONT_ROOT + "kremlin.ttf") format("truetype");
}

@font-face {
  font-family: "Kyrilla";
  src: url($FONT_ROOT + "kyrilla.ttf") format("truetype");
}

@font-face {
  font-family: "RealYoung";
  src: url($FONT_ROOT + "realyoung.ttf") format("truetype");
}
@font-face {
  font-family: "College";
  src: url($FONT_ROOT + "college.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url($FONT_ROOT + "Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Bold";
  src: url($FONT_ROOT + "Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Black";
  src: url($FONT_ROOT + "Lato-Black.ttf") format("truetype");
}
