header {
  --logomark-height: 3em;

  display: grid;
  place-items: center;
  background: $HEADER_PRIMARY;
  padding: 10vh 1rem;

  .container {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    h1 {
      @include space("margin-bottom", 2);
      flex: 1;
      color: $BG_DEFAULT;
      text-shadow: 7px 8px $HEADER_DARK;
      font-size: 4rem;
    }
    h2 {
      @include space("margin-bottom", 2);
      flex: 1;
      max-width: unset;
      width: 100%;
      color: $BG_DEFAULT;
      min-width: 100%;
      text-align: left;
      text-shadow: 4px 6px $HEADER_DARK;
    }
    p {
      @include space("margin-top", 4);
      @include space("margin-bottom", 4);
      width: 100%;
      min-width: 330px;
      line-height: 2.5;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: $BG_DEFAULT;
      font-family: var(--font-family-bold);
      color: #000;
      text-transform: uppercase;
      a {
        @include solid-link();
        @include space(padding, 4);
        @include space(margin, 0);
        font-family: var(--font-family-bold);
      }
    }
    .link-github {
      margin-top: 2rem;
      align-self: center;
      svg {
        width: 0;
      }
    }
  }
  @media (min-width: $BREAKPOINT_SM) {
    padding: 5vh 2rem;

    flex-direction: column;
    .container {
      h1 {
        font-size: 6rem;
      }

      p {
        flex: 1;
      }
    }
  }
  @media (min-width: $BREAKPOINT_MD) {
    min-height: 90vh;
    .container {
      h1 {
        font-size: 13rem;
      }
      h2 {
      }
      p {
        flex-direction: column;
        a {
          @include space(margin, 2);
        }
      }
    }
  }
}
