$color-bg-darker-1: #d34e4e !default;

header {
  --logomark-height: 3em;

  display: grid;
  min-height: 40vh;
  place-items: center;
  padding: 10vh 2rem;

  background: $HEADER_PRIMARY;

  h2 {
    max-width: 30ch;
    color: $BACKGROUND_DEFAULT;
  }

  .container {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    h1 {
      @include space("margin-bottom", 2);
      flex: 1;
      color: $BACKGROUND_DEFAULT;
      text-shadow: 7px 8px $color-bg-darker-1;
    }
    h2 {
      @include space("margin-bottom", 2);
      flex: 1;
      max-width: unset;
      text-align: left;
      text-shadow: 4px 6px $color-bg-darker-1;
    }
    p {
      @include space("margin-top", 4);
      @include space("margin-bottom", 4);
      width: 100%;
      min-width: 330px;
      line-height: 2.5;
      display: flex;
      flex-direction: column;
      color: $BACKGROUND_DEFAULT;

      a {
        @include solid-link();
      }
    }
  }
  @media (min-width: $BREAKPOINT_SM) {
    .container {
      p {
        flex-direction: row;
      }
    }
  }
}
