// stylelint-disable no-descending-specificity
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
}

main {
  &:focus {
    outline: none;
  }

  h3 {
    color: var(--color-primary);
  }
}

article {
  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

article,
.page-footer,
#styles {
  .container {
    width: 100%;
  }
}

.page-footer ul,
.features {
  display: grid;
  margin: 0 0 2rem;
  padding: 0;
  grid-gap: 1em;
  list-style: none;
}

@mixin basic-container() {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
  margin-top: 5vh;
  h2 {
    @include space(padding, 10);
    @include space(margin-bottom, 10);
    width: 100%;
  }
  > *:not(h2) {
    max-width: 80%;
  }
}
