// stylelint-disable-next-line no-descending-specificity

.link-codepen {
  @include space(margin-top, 2);
  display: block;
  text-align: end;
  // margin-top: 4rem;

  &::before {
    content: "OR ";
  }
}

$SOLID_COLOR: #842929;
$SOLID_COLOR_HOVER: #461414;

@mixin solid-link(
  $bg: $BG_DEFAULT,
  $color: $SOLID_COLOR,
  $shadow: $HEADER_DARK,
  $hoverColor: $SOLID_COLOR_HOVER,
  $hoverShadow: $shadow
) {
  @include space("padding", 2);
  @include space("padding-top", 1);
  @include space("padding-bottom", 1);
  @include space("margin-left", 2);
  @include space("margin-right", 2);

  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  color: $color;
  background: $bg;
  box-shadow: 0.18em 0.18em $shadow;
  text-align: center;
  transition: all 0.2s ease-in-out;
  line-height: 1;
  vertical-align: middle;
  display: flex;
  align-items: center;
  font-family: var(--font-family-black);
  text-transform: uppercase;

  &:hover,
  &:focus {
    @include space("padding-left", 4);
    @include space("padding-right", 4);
    color: $hoverColor;
    transform: translate(-0.15em, -0.15em);
    transition: all 0.2s ease-in-out;
    box-shadow: 0.3em 0.3em $hoverShadow;
  }

  &:focus {
    outline-color: transparent;
    outline-style: solid;
  }
}

$COLOR_LINK: $SECTION_SECONDARY;
$COLOR_LINK_HOVER: #f3acc1;

@mixin text_link($color: $COLOR_LINK, $hoverColor: $COLOR_LINK_HOVER) {
  color: $color;
  font-family: var(--font-family-bold);

  transition: all 0.1s ease-in-out;
  &:hover {
    color: $hoverColor;
    transition: all 0.1s ease-in-out;
  }
}

$SKIP_LINK_SVG_WIDTH: 4rem;

body {
  .skip-link {
    @include text_link();
    @include space(padding, 4);
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: $SKIP_LINK_SVG_WIDTH;
    color: #fff;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    background: $BG_DEFAULT;
    color: $TEXT_DEFAULT;
    white-space: nowrap;
    box-shadow: 1px 5px 5px 2px #00000020;

    &:focus {
      position: fixed;
      top: 0;
      right: 0;
      height: $SKIP_LINK_SVG_WIDTH;
    }
    &:hover,
    &:focus {
      color: $SECTION_DARK;
    }

    &:before {
      content: "";
      width: 3rem;
      height: 3rem;
      min-width: 3rem;
      background-image: url($ASSET_ROOT + "megaphone.svg");
      background-repeat: no-repeat;
      background-color: $BG_DEFAULT;
    }
  }

  @media (min-width: $BREAKPOINT_SM) {
    .skip-link {
      width: $SKIP_LINK_SVG_WIDTH;
      overflow: hidden;

      &:hover,
      &:focus {
        width: unset;
        padding-left: $SKIP_LINK_SVG_WIDTH + 1;
        transition: all 0.2s ease-in-out;
      }

      &:before {
        position: absolute;
        left: 0;
        width: $SKIP_LINK_SVG_WIDTH;
        height: $SKIP_LINK_SVG_WIDTH;
      }
    }
  }
}

$GITHUB_LINK_WIDTH: 7rem;

header .link-github[class^="link"] {
  @include solid-link();
  flex-direction: column;
  font-family: "RealYoung";
  background-color: $BG_DEFAULT;
  border: 4px solid $BG_YELLOW;
  padding: 0;
  margin-left: 0;
  padding-bottom: 1rem;

  &:before {
    content: "";
    background-position: center;
    width: 100%;
    min-width: 11rem;
    height: $GITHUB_LINK_WIDTH;
    background-color: $HEADER_DARK;
    background-image: url($ASSET_ROOT + "github_star.svg");
    background-repeat: no-repeat;
    padding: 0;
  }
  &:hover,
  &:focus {
    padding: 0;
    padding-bottom: 1rem;
  }
}

$MATRYOSHKA_MAX_HEIGHT: 7rem;
$MATRYOSHKA_MIN_HEIGHT: 2rem;
@mixin nav_link() {
  @include solid-link(
    $BG_DEFAULT,
    $SECTION_BG,
    $SECTION_BG,
    $SECTION_BG,
    $SECTION_PRIMARY
  );
  min-width: 125px;
  max-width: 200px;
  position: relative;
  height: 3rem;
  margin: 0.25rem;
  width: 100%;
  justify-content: center;
  display: flex;

  &:hover {
    border-bottom: 2px solid $SECTION_BG;
    border-right: 2px solid $SECTION_BG;
    transform: unset;
  }
  a {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $BG_DEFAULT;
    width: 100%;
    height: 100%;
  }

  &:nth-child(1) {
    &:after {
      content: "";
      width: $MATRYOSHKA_MIN_HEIGHT + 6rem;
      height: $MATRYOSHKA_MIN_HEIGHT + 6rem;
    }
  }
  &:nth-child(2) {
    &:after {
      content: "";
      width: $MATRYOSHKA_MIN_HEIGHT + 5rem;
      height: $MATRYOSHKA_MIN_HEIGHT + 5rem;
    }
  }
  &:nth-child(3) {
    &:after {
      content: "";
      width: $MATRYOSHKA_MIN_HEIGHT + 4rem;
      height: $MATRYOSHKA_MIN_HEIGHT + 4rem;
    }
  }
  &:nth-child(4) {
    &:after {
      content: "";
      width: $MATRYOSHKA_MIN_HEIGHT + 3.5rem;
      height: $MATRYOSHKA_MIN_HEIGHT + 3.5rem;
    }
  }
  &:nth-child(5) {
    &:after {
      content: "";
      width: $MATRYOSHKA_MIN_HEIGHT + 3rem;
      height: $MATRYOSHKA_MIN_HEIGHT + 3rem;
    }
  }
  &:nth-child(6) {
    &:after {
      content: "";
      width: $MATRYOSHKA_MIN_HEIGHT + 2.5rem;
      height: $MATRYOSHKA_MIN_HEIGHT + 2.5rem;
    }
  }
  &:after {
    content: "";
    background-image: url($ASSET_ROOT + "matryoshka.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 0;
  }
}
