$MATRYOSHKA_MAX_HEIGHT: 7rem;
$MATRYOSHKA_MIN_HEIGHT: 2rem;

nav,
.page-footer {
  ul {
    @include space(padding, 7);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    list-style: none;
    li {
      @include solid-link(
        $BG_DEFAULT,
        $SECTION_BG,
        $SECTION_BG,
        $SECTION_BG,
        $SECTION_PRIMARY
      );
      height: 3rem;
      margin: 0.25rem;
      width: 100%;
      justify-content: center;
      display: flex;

      &:hover {
        border-bottom: 2px solid $SECTION_BG;
        border-right: 2px solid $SECTION_BG;
        transform: unset;
      }
      a {
        display: inline-grid;
        padding: 0.5rem;
        font-size: 1.25rem;
        text-decoration: none;
        color: $SECTION_BG;
        width: 100%;
        height: 100%;
      }
    }
  }
}

nav {
  background: $GREY_200;

  @media (min-width: $BREAKPOINT_SM) {
    ul {
      li {
        flex: 1 1 30%;
      }
    }
  }
  @media (min-width: $BREAKPOINT_MD) {
    ul {
      li {
        flex: 1 1 15%;
        white-space: nowrap;
        min-width: 180px;
      }
    }
  }
  @media (min-width: $BREAKPOINT_LG) {
    background: $HEADER_PRIMARY;
    display: flex;
    ul {
      margin-top: $MATRYOSHKA_MAX_HEIGHT/2;
      position: relative;
      width: 100%;

      li {
        @include nav_link();
      }
    }
  }
}
