$MATRYOSHKA_MAX_HEIGHT: 7rem;
$MATRYOSHKA_MIN_HEIGHT: 2rem;
nav {
  background: $GREY_200;
  ul {
    @include space(padding, 7);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    list-style: none;
    li {
      @include solid-link(
        $BG_DEFAULT,
        $SECTION_BG,
        $SECTION_BG,
        $SECTION_BG,
        $SECTION_PRIMARY
      );
      height: 3rem;
      margin: 0.25rem;
      width: 100%;
      justify-content: center;
      display: flex;

      &:hover {
        border-bottom: 2px solid $SECTION_BG;
        border-right: 2px solid $SECTION_BG;
        transform: unset;
      }
    }

    a {
      display: inline-grid;
      padding: 0.5rem;
      font-size: 1.25rem;
      text-decoration: none;
      color: $SECTION_BG;
      width: 100%;
      height: 100%;
    }

    li {
      margin: 0.25rem;
    }
  }
  @media (min-width: $BREAKPOINT_SM) {
    ul {
      li {
        flex: 1 1 30%;
      }
    }
  }
  @media (min-width: $BREAKPOINT_MD) {
    ul {
      li {
        flex: 1 1 15%;
        white-space: nowrap;
        min-width: 180px;
      }
    }
  }
  @media (min-width: $BREAKPOINT_LG) {
    background: $HEADER_PRIMARY;
    display: flex;
    ul {
      margin-top: $MATRYOSHKA_MAX_HEIGHT;
      position: relative;
      width: 100%;

      li {
        min-width: 125px;
        max-width: 200px;
        position: relative;
        a {
          position: absolute;
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          background: $BG_DEFAULT;
        }

        &:nth-child(1) {
          &:after {
            content: "";
            width: $MATRYOSHKA_MIN_HEIGHT + 5rem;
            height: $MATRYOSHKA_MIN_HEIGHT + 5rem;
          }
        }
        &:nth-child(2) {
          &:after {
            content: "";
            width: $MATRYOSHKA_MIN_HEIGHT + 4.5rem;
            height: $MATRYOSHKA_MIN_HEIGHT + 4.5rem;
          }
        }
        &:nth-child(3) {
          &:after {
            content: "";
            width: $MATRYOSHKA_MIN_HEIGHT + 4rem;
            height: $MATRYOSHKA_MIN_HEIGHT + 4rem;
          }
        }
        &:nth-child(4) {
          &:after {
            content: "";
            width: $MATRYOSHKA_MIN_HEIGHT + 3.5rem;
            height: $MATRYOSHKA_MIN_HEIGHT + 3.5rem;
          }
        }
        &:nth-child(5) {
          &:after {
            content: "";
            width: $MATRYOSHKA_MIN_HEIGHT + 3rem;
            height: $MATRYOSHKA_MIN_HEIGHT + 3rem;
          }
        }
        &:nth-child(6) {
          &:after {
            content: "";
            width: $MATRYOSHKA_MIN_HEIGHT + 2.5rem;
            height: $MATRYOSHKA_MIN_HEIGHT + 2.5rem;
          }
        }
        &:after {
          content: "";
          background-image: url("/assets/matryoshka.svg");
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          bottom: 0;
        }
      }
    }
  }
}
