$PROFILE_SECONDARY: #3c455b;
$PROFILE_TEXT: #ffffff;
.profile {
  z-index: 100;

  .container {
    @include space(padding-bottom, 5);
    display: grid;
    justify-items: center;
    grid-gap: 1rem;
    background-color: $PROFILE_SECONDARY;
    h4 {
      @include space(padding, 5);
      width: 100%;
      text-align: center;
      background: $SECTION_PRIMARY;
      color: $SECTION_DEFAULT;
    }

    > a {
      @include solid-link(
        $PROFILE_TEXT,
        $SECTION_PRIMARY,
        $SECTION_PRIMARY,
        $SECTION_TEXT,
        $BG_GREEN
      );

      @include space("padding-top", 4);
      @include space("padding-bottom", 4);
    }
  }

  ul {
    @include space(padding-left, 5);
    @include space(padding-right, 5);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    list-style: none;
    color: $BG_DEFAULT;

    li {
      display: flex;
      padding: 0.45em;

      span:nth-child(1) {
        width: auto;
        margin-right: 0.25em;
        font-family: var(--font-family-black);
      }

      span:nth-child(2) {
        flex-grow: 1;
        word-break: break-word;
        a {
          @include text-link($SECTION_DEFAULT, $BG_GREEN);
        }
      }
    }
  }

  @media (min-width: 180ch) {
    position: fixed;
    right: 2vmin;
    bottom: 2vmin;
    max-width: 30ch;
    margin-bottom: 0;
    border-radius: 4px;

    overflow: hidden;

    ul {
      justify-content: unset;

      li {
        padding: 0;

        span:nth-child(1) {
          width: 8ch;
          margin-right: 0;
        }
      }
    }
  }
}
