$PROFILE_PRIMARY: #99d6bf;
$PROFILE_SECONDARY: #3c455b;
$PROFILE_TEXT: #ffffff;
.profile {
  z-index: 1;

  .container {
    @include space(padding-bottom, 5);
    display: grid;
    justify-items: center;
    grid-gap: 1rem;
    background-color: $PROFILE_SECONDARY;
    h4 {
      @include space(padding, 5);
      width: 100%;
      text-align: center;
      background: $PROFILE_PRIMARY;
      color: $PROFILE_SECONDARY;
    }

    > a {
      @include solid-link(
        $PROFILE_TEXT,
        $PROFILE_SECONDARY,
        $PROFILE_PRIMARY,
        #1f2942,
        #5af1b8
      );
      @include space(margin-bottom, 1);
      min-height: 2em;
    }
  }

  ul {
    @include space(padding-left, 5);
    @include space(padding-right, 5);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    list-style: none;
    color: $BACKGROUND_DEFAULT;
    li {
      display: flex;
      padding: 0.45em;

      span:nth-child(1) {
        width: auto;
        margin-right: 0.25em;
        font-family: var(--font-family-heading);
      }

      span:nth-child(2) {
        flex-grow: 1;
        word-break: break-word;

        a {
          @include text-link($PROFILE_PRIMARY, #5af1b8);
        }
      }
    }
  }

  @media (min-width: 180ch) {
    position: fixed;
    right: 2vmin;
    bottom: 2vmin;
    max-width: 30ch;
    margin-bottom: 0;
    border-radius: 4px;

    overflow: hidden;

    ul {
      justify-content: unset;

      li {
        padding: 0;

        span:nth-child(1) {
          width: 8ch;
          margin-right: 0;
        }
      }
    }
  }
}
