/*
=============================================================
| COLORS
=============================================================
*/

$color-primary: #3a00ff !default;
$color-primary-alt: #6f6ffd !default;
$color-background: #d2fbf7 !default;
$BG_DEFAULT: #fff6ed !default;
$BG_GREEN: #5af1b8;
$GREY_200: #c9d0d8;
$TEXT_DEFAULT: #363636 !default;

// HEADER
$HEADER_PRIMARY: #ec6363;
$HEADER_DARK: #b12f2f !default;

// SECTIONS
$SECTION_PRIMARY: #5a50f3 !default;
$SECTION_SECONDARY: #ff4a80 !default;
$SECTION_DARK: #d42257 !default;
$SECTION_BG: #27162d !default;
$SECTION_TEXT: #7c75ff !default;
$SECTION_DEFAULT: #fcfcfc !default;

$brand-colors: (
  primary: $color-primary,
  primary-alt: $color-primary-alt,
  secondary: $SECTION_DARK,
  bg-green: $BG_GREEN,
) !default;

$color-body: scale-color(
  $color-primary,
  $lightness: -30%,
  $saturation: -50%
) !default;
$color-gray: mix(#767676, $color-body, 70%) !default;

$colors: map-merge(
  $brand-colors,
  (
    background-color: $color-background,
    text: $color-body,
    light: #fff,
  )
);

@function color($key) {
  @return map-get($colors, $key);
}

@function svgColor($color) {
  @return "%23" + str-slice("#{color($color)}", 2, -1);
}

$link-color: color(primary) !default;
$border-radius: 8px !default;

/*
=============================================================
| BREAKPOINTS
=============================================================
*/

$BREAKPOINT_XS: 20em; // 320px
$BREAKPOINT_SM: 30em; // 480px
$BREAKPOINT_MD: 48em; // 768px
$BREAKPOINT_LG: 64em; // 1024px

/*
=============================================================
| SPACE
=============================================================
*/

$sizes: 0rem, 0.25rem, 0.5rem, 0.75rem, 1rem, 1.25rem, 1.5rem, 2rem, 2.5rem,
  3rem, 4rem, 5rem, 6rem, 8rem;

@mixin space($type, $index) {
  #{$type}: #{nth($sizes, $index + 1)};
}

/*
=============================================================
| FONT SIZES
=============================================================
*/
$font-weight-strong: 500 !default;
$font-size-h1: 30rem !default;
$font-size-h2: 6rem !default;
$font-size-h3: 2rem !default;
$font-size-h4: 1.35rem !default;
$font-size-h5: 1.25rem !default;
$font-size-text: 1.15rem !default;

$font-sizes: (
  h1: $font-size-h1,
  h2: $font-size-h2,
  h3: $font-size-h3,
  h4: $font-size-h4,
  h5: $font-size-h5,
  text: $font-size-text,
);

// stylelint-disable
:root {
  @each $key, $color in $colors {
    --color-#{$key}: #{$color};
  }

  --color-anchor: #{$link-color};
  --font-family: "Lato";
  --font-family-heading: "Propaganda";
  --font-family-bold: "Lato-Bold";
  --font-family-black: "Lato-Black";
  --font-weight-strong: #{$font-weight-strong};

  @each $key, $size in $font-sizes {
    --font-size-#{$key}: #{$size};
  }

  --border-radius: #{$border-radius};
}

/*
=============================================================
| SYMBOLS
=============================================================
*/

@mixin squares(
  $before: "true",
  $after: "true",
  $primary: $SECTION_PRIMARY,
  $secondary: $SECTION_SECONDARY
) {
  position: relative;
  @if ($before== "true") {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      height: 10px;
      border: 4px solid $primary;
      box-shadow: -0.75em 2.25em $secondary;
      transform: translate(-100%, -100%);
      background: $primary;
    }
  }
  @if ($after== "true") {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      height: 10px;
      border: 4px solid $primary;
      box-shadow: -0.75em 2.25em $secondary;
      transform: translate(-100%, -100%);
      background: $primary;
      left: unset;
      top: unset;
      right: 0;
      bottom: 0;
    }
  }
}
