h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-strong);
  line-height: 1;
  margin-bottom: 0.65em;
  font-family: var(--font-family-heading);
}

h1 {
  font-size: clamp(3rem, 18vw, var(--font-size-h1));
}

h2 {
  font-size: var(--font-size-h2);
  font-size: clamp(1.5rem, 3vw, var(--font-size-h2));
  text-align: center;
}

#main h2 {
  align-self: center;
  color: var(--color-background);
  padding: 0.25em 0.5em;
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

p,
li {
  font-size: var(--font-size-text);
}

p {
  margin: 0 0 1rem;
}

article .container {
  > ul:not(.features),
  > ol {
    > li + li {
      margin-top: 1rem;
    }
  }

  * {
    + h2 {
      margin-top: 4rem;
    }

    + h3 {
      margin-top: 2rem;
    }
  }
}

strong {
  font-weight: var(--font-weight-strong);
}

a {
  color: var(--color-anchor);
}

blockquote {
  @include squares();
  @include space(padding, 4);

  position: relative;
  display: grid;
  grid-template-areas: "blockquote";
  place-items: center;
  padding: 0;
  margin: 3rem 0;
  color: $TEXT_DEFAULT;
  background: $BG_DEFAULT;
  border-radius: 4px;

  > * {
    grid-area: blockquote;
  }

  p {
    @include space(padding, 4);
    font-size: var(--font-size-h5);
    margin-bottom: 0;
    background: $BG_DEFAULT;

    strong {
      font-family: "Lato-Bold";
    }
  }
}

#guidelines,
#contribute {
  p:nth-of-type(1) {
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-strong);
  }
}

@mixin header($color: $BG_DEFAULT, $shadow: $HEADER_PRIMARY) {
  font-family: var(--font-family-heading);
  color: $color;
  text-shadow: 4px 6px $shadow;
}
